*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Tomorrow';

}
.w-2{

  width: 50%;
}
::selection{
  background-color: #987d24;
}
.container{
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px
}
.align-center{
  align-items: center;
}
.justify-between{
  justify-content: space-between;
}
a{
  text-decoration: none;
  display: inline-block;
}
ul{
  list-style:none;
  
  
}
.d-none{
  display: none;
}
.text-center{
  text-align: center;
}
.d-flex{
  display: flex;
}
.row{
  flex-wrap: wrap;
  display: flex;
}


/* HEADER */
ul.support-lists {
  position: fixed;
  top: 70%;
  right: 50px;
  list-style: none;
  /* width:60px; */
  background: #fff;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, .16);
  border-radius: 30px;
  text-align: center;
 padding: 20px;
  z-index: 2;
  color: #181818;
  list-style:none;
}
ul .ri-chat-unread-fill , .ri-phone-fill ,.ri-mail-unread-fill{
   color: #181818;
   font-size: 20px;
   font-weight: 200;
}
.support-lists li{
  margin: 20px 0;
}

header{
  background-color: #202020;
  padding: 10px 0;
  position: sticky;
  width: 100%;
  top:0;
  left:0;
  z-index: 999;
}

.navigation li a{
  color: aliceblue;
  font-weight: 300;
  padding:0 17px;
  transition: 0.3s all ease-in-out;
  
}
.navigation ul{
  list-style:none;
}
.navigation .icons a{
  color: aliceblue;
  font-weight: 700;
  padding:0 17px;
  font-size: 17px;
  transition: 0.3s all ease-in-out;
}
.navigation li a:hover{
  color:#956b3a;
  transition: 0.3s all ease-in-out;
}
.navigation li:first-child a{
  color:#956b3a;
  font-weight: 700;
 
}
.navigation a:not(:last-child):hover {
  color:#956b3a;
  font-weight: 700;
}

.button {
  color: white;
  border: none;
  border: 2px solid #987d24;
  padding: 10px 20px;
  transition:  all 0.4s ease-in-out;
  display: inline-block;
  border-radius: 10px;
  margin-left: 20px;

}

.button:hover {
  background: linear-gradient(45deg, #D4AF37, #8B5E3C, #D4AF37);
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.8);
  transition: all 0.4s ease-in-out;
}
.cart{
  position: relative;
  
}
.lakit-cart__count{
position: absolute;
bottom: 60%;
left: 50%;
text-align: center;
color: var(--theme-primary-color);
font-size: 11px;
width: 18px;
font-weight: 300;
height: 18px;
align-items: center;
display: flex;
justify-content: center;
border-radius: 20px;
text-align: center;
background-color: #8B5E3C;
}


/* BANEER */

.banner{
  background-image: url(../../assets/imges/akali-banner.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 100%;

  z-index: -1;
  display: flex;
  min-height: 860px;

}
.banner-content{
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2 , 1fr);
    gap: 30px;
}
.banner-content h1{
  font-size: 85px;
  color: white;
  max-width: 600px;
 
}
.richtext{
  color: rgb(161, 154, 154);
  max-width: 600px;
  line-height: 30px;
  letter-spacing: 2px;
  padding: 10px 0;
}
.shop{
  display: flex;
  justify-content: flex-end;
}
.btn{
  color:aliceblue;
  width: 250px;
  height: 250px;
  border: 2px solid  rgb(161, 154, 154);;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  transition: 0.3s all ease-in-out;

}
.btn:hover{
  transform: scale(0.9);
  transition: 0.3s all ease-in-out;
}
.banner-inner {
  margin-top: 90px;
  display:flex;
  justify-content: space-between;
}
.banner-inner  ul li {
  border-top: 2px solid aliceblue;
  padding-top: 20px;
 

}
.banner-inner li a{
  color: aliceblue; 
  padding:0 20px;

}
.banner-inner i {
  margin-right: 15px;
}
.rich{
  color: aliceblue;
  font-weight:200;
  padding-left: 90px;

}



/* BOTH */


.both{
  background-color: #4f3f32;
  padding: 40px 0;
}
.both-title h2{
   color: aliceblue;
   font-size: 55px;
   font-weight: 400;
   text-align: center;
   max-width: 900px;
   margin: auto;
   line-height: 90px;
}



.gallery{
  background-color: #202020;
  padding: 80px 0;
}
.gallery-inner{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  gap: 60px;
}
.gallery-items{
  position:relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  
}

.image-container:hover .overlay {
  opacity: 1;
}

.image-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.image-container img {
  width: 100%;
  transition: transform 0.5s ease;
}

.image-container:hover img {
  transform: scale(1.1);
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.image-container:hover .overlay {
  opacity: 1;
}

.text {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  opacity: 0;
  transition: opacity 0.5s ease, bottom 0.5s ease;
}

.image-container:hover .text {
  opacity: 1;
  bottom: 30px;
}

.border {
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(90% - 20px);
  border: 2px solid white;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.image-container:hover .border {
  opacity: 1;
}


/* DESGIN */

.desgin{
  background-color: #202020;
  padding: 70px 0;
}
.desgin-title h2{
   font-size: 30px;
   font-weight: 600;
   color:aliceblue;

}
.desgin-gallery{
  display: grid;
  grid-template-columns: repeat(3,2fr);
  gap:20px;
}
.box{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #D4AF37;
}
.box-1{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(205, 203, 203);
}
.desgin-items{
  /* width: 350px; */
  overflow: hidden;
  position: relative;
  width: 100%;
}







.desgin-items img {
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease;
  margin-top: 70px;
}

.desgin-items .hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity:0;
  width: 100%;
  height: 100%;
}

.desgin-items:hover .hover-img {
  opacity: 1;
  z-index: 9;
}

.content-desgin{
  color: aliceblue;
}

.content-desgin h4{
  font-weight: 400;
  font-size: 20px;
  padding: 20px 0;
  transition: 0.4s all ease-in-out;
}
.content-desgin h4:hover , .content-desgin span:hover{
 color: #956b3a;
 transition: 0.4s all ease-in-out;
}


/* OUR-NEWSLATTER */

.bg{
  background-color: #181818;
  padding: 50px 0;
}
.our-news{
  background-image: url(../../assets/imges/earrings-1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  border-radius: 10px;
 
}
.our-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 90px;
  text-align: center;
}
.our-content h3{
  color: #181818;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 10px;
}
.our-content h2{
  color: #181818;
  font-weight: 500;
  font-size: 40px;
  max-width: 200px;
  margin-bottom: 30px;
}
form{
  position: relative;
}
.btns-sub{
  position: absolute;
  top:0;
  right:0;

}
.btns-sub button{
  color: #4f3f32;
  font-size: 14px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  
  
}
form input{
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #2b1c118c;
  padding-right: 160px;
  padding-bottom: 10px;

}


/* SLIDER */

.nested-swiper{
  background-color: #181818;
  padding: 50px 0;
}
.swiper {
  width: 100%;
  height: 100%;
}
.mySwipers .swiper-slide {
  text-align:start;
  font-size: 18px;
  justify-content: start;
  align-items: flex-start;
}
.mySwipers .swiper-slide img {
  display: block;
  width:386px;
  height: 400px;
  object-fit: cover;
  opacity: 1;
  transition: all .5s ease-in-out;
}
.mySwipers{
  background-repeat: no-repeat;
  background-size: cover;
}
.swiper-header{
  font-size: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  color: #E8E6BD;
  font-family: "Roboto", serif;
  font-weight: 600;
}
.swiper-inner{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.center-span{
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}
.center-span::before{
  content: '';
  width: 12px;
  height: 2px;
  display: inline-block;
  margin: 0 5px;
  background: #383535;
  vertical-align: middle;
}
.center-span::after{
  content: '';
  width: 12px;
  height: 2px;
  display: inline-block;
  margin: 0 5px;
  background: #0a0909;
  vertical-align: middle;
}
.center-img{
  background-color: #000;
  height: 100%;
  object-fit: cover;
}
.center-img img{
  opacity: 0.6;
  width: 100%;
  height:522px;
  object-fit: cover;
}
.center-section{
  position: relative;
  height: 100%;
}
.center-text{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 35px;
  transform: translate(-50%, -50%);
}
.center-head{
  color: #fff;
  text-transform: uppercase;
  font-size: 35px;
  letter-spacing: 4px;
}
.center-a{
  text-decoration: none;
  color:white;
  text-transform: uppercase;
  font-family: var(--font-family);
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 600;
  border: 2px solid #fff;
  padding: 10px ;
  transition: all .4s ease-in-out;
}
.center-a:hover{
  background-color: #fff;
  color: #000;
}
.swipers-text{
  background-color:#202020;
  text-align: left;
  padding: 20px 15px;
  color:white;
}
.swipers-span{
  color: #e5dbdb;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.swiper-border-bottom{
  width: 20px;
  height: 3px;
  /* background: #666666;
  display: block; */
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 130px;
}
.swipers-head{
  font-size: 18px;
  font-family:"Roboto", serif ;
  font-weight: 500;
  text-transform: uppercase;
}
.swiper-a{
  text-decoration: none;
  color: currentColor;
}

/* BLOGS */

.blogs{
  background-color: #181818;
  padding: 60px 0;
}
.blogs-items{
 
  border-radius: 10px;
 margin:0 17px 0 0 ;
 position: relative;  

}
.inner-blogs{
  display: grid;
  grid-template-columns: repeat(3 ,1fr);
  gap: 20px;
  padding: 70px 0;
}
.blogs-title{
  text-align:left;
}
.blogs-title h2{
  color: white;
  font-size: 30px;
  font-weight: 400;
}
.images img{
  width: 100%;
  border-radius: 10px;
  transition: all 0.3s  ease-in-out;
  display: block;
 
 
}
.images{
  overflow: hidden; 
  position: relative;
  transition: all 0.3s ease-in-out;
}
.images img:hover{
  border-radius: 10px;
  transform:scale(1.1);
  transition: all 0.3s  ease-in-out;
}
span{
  display: block;
 font-weight: 100;
 padding-bottom: 10px;
}
.content-blogs{
  color: white;
  padding: 20px 0;
}
.content-blogs p{
  font-weight: 100;
 padding-top: 10px;
 line-height: 30px;
}
.content-blogs a{
  font-weight: 600;
 padding-top: 10px;
 font-size: 25px;
 color: white;
 transition: all 0.3s  ease-in-out;
}
.content-blogs a:hover{
  color: #8B5E3C;
  transition: all 0.3s  ease-in-out;
}

/* QUESTIONS */

.questions{
  background-color: #181818;
  padding: 60px 0;
}
.qus-inner{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);

  

}
.images-qus{
  position: relative;
  
}
.images-qus img{
  width: 100%;
  background: linear-gradient(180deg, #23201E00 0%, 100%);
  opacity:0.5;
 
}
.content-qus {
position: absolute;
bottom: 0;
left: 0;
z-index:0;
padding: 10px 20px;
}
.content-qus h3{
  color:white;
  align-items: center;
  display: flex;
  font-weight:300;
  font-size: 30px;
  padding-bottom: 10px;

}
.content-qus h2{
  color:white;
  align-items: center;
  display: flex;
  font-weight:400;

}
.items-1:not(:last-child){
  border-right: 2px solid rgb(193, 184, 184);
  padding-left: 30px;
  
}
.items-1{
  padding-left: 30px;
}
span{
  display: inline;
  color: #bb9d7b;
  font-size: 30px;
  font-weight: 600;

}

.acco h5{
  color: white;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 20px;

}
.acco h4{
  color: white;
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 20px;
}
.acc-item{
  margin-left: 40px;
  padding: 20px 0;
  display: flex;
  text-align: left;
  justify-content: center;
  flex-direction: column;
}

.acc-container {
  max-width: 700px;
  width: 100%;
}

.acc {
  margin-bottom: 10px;
}

.acc-head {
  border: 2px solid gray;
  padding: 35px 30px;
  font-size: 22px;
  position: relative;
  cursor: pointer;
  transition:all 0.3s ease-in-out;
  
}
.acc-head:hover{
  background-color: #bb9d7b;
  transition:all 0.3s ease-in-out;
}
 .acc-head::before,
 .acc-head::after {
  content: '';
  position: absolute;
  top: 50%;
  background-color: #fff;
  transition: all .3s;
 }

 .acc-head::before {
  right: 30px;
  width: 3px;
  height: 20px;
  margin-top: -10px;
}

.acc-head::after {
  right: 21px;
  width: 20px;
  height: 3px;
  margin-top: -2px;
}

.acc-head a{
  color: #fff;
  font-weight: 400;
}
.acc-content p{
  line-height: 30px;
  word-spacing: 7px
} 
.acc-content {  
  display: none;
  color: white;
  font-weight: 100;
  margin-bottom: 40px;
  margin-top: 20px;
}
        
.acc-head.active::before {
    transform: rotate(90deg);
}


/* FOOTER */

.footer{
  background-image: url(../../assets/imges/home-3-footer-bg.jpg);
  background-repeat: no-repeat;

  
}
.footers-inner{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}
.con-footer{
  color: white;
}
.con-footer li{
  color: white;
}
.con-footer h3{
  font-weight: 500;
  font-size: 26px;
  padding-bottom: 28px;
}
ul h4{
  color:white;
  font-weight: 300;
  font-size:15px;
  line-height: 25px;
}
.ri-map-pin-fill ,.ri-mail-open-fill ,.ri-phone-line{
  color: white;
  padding-right: 10px;
}
.footer-items h5{
  color: white;
  font-weight: 300;
}
.footer-items {
  padding: 0 20px;
}

marquee{
  border-bottom: 2px solid rgba(134, 132, 132, 0.425);
  margin-bottom: 30px;
  padding-bottom: 40px;
  padding-top: 40px;

}
.ri-gemini-line{
  color: #bb9d7b;
  margin:0 70px;
}
marquee li{
  color: white;
  font-size: 30px;
}