@media(max-width: 1230px) {
     .list{
        display: none;
    }
  }



 @media(max-width: 896px) {
   .navigation li  a {
      display: none;
   }
  
}



@media (max-width:660px) {
   .banner-content{
      display: grid;
      grid-template-columns: repeat(1 , 1fr);
   }
   .shop {
      display: flex;
      justify-content: flex-start;
  }
  .banner-content .con{
   text-align:left;
  }
 
}


@media (max-width:666px) {
    
    .shop-1{
   display: block;
     }
  
 }



 @media (max-width:565px) {

         .navbar .icons , .icons-2{
            display: none;
      }
      .toggle{
         display: block;
         color: aliceblue;
         font-size: 28px;
      
      }
     
    
      .navigation{
         transform: translateY(0);
         padding: 0;
      
         
      }
      .navigation nav{
         display: none;
         text-align: left!important;
         padding: 0;
      }
      .navigation li a{
         color: aliceblue;
         
         
      }
      .navigation li{
         padding: 10px 0;
      }

      .swiper-slide{
         width: 100%;
         height: 100%;
      }
      .icons{
         color: aliceblue;
      }
      .navigation nav ul{
         flex-direction: column;
         top: 140%;
         left:0;
         position: absolute;
         transition: 0.4s all;
         background-color:rgba(92, 90, 91, 0.859);
         box-shadow: inset;
         justify-content: flex-start;
         align-items: flex-end;
         margin: 10px 0;
         right: 0;
         z-index:999;
         padding: 10px 0;

      }
      .navigation li {
         display: block;
      }
      

      /* GALLERY */

      .gallery-inner{
         display: grid;
         grid-template-columns: repeat(1 , 1fr);
         gap: 60px;
       }
       
   } 

 @media (max-width:490px) {
   .bannner-section{
      position: absolute;
      top: 15px;
      right:10%;
      /* width: 106px;
      height: 100px;
      display: none; */
     }
    
   }  
 
   @media (max-width:387px) {
      .banner-content h1 {
         padding: 20px 0;
         font-size: 37px;
         color: white;
         z-index: 9;
         font-weight: 500;
       
      }
      .best-title h2::before {
         content: "";
         position: relative;
         background: url(../../assets/imges/heading_element_white.png) no-repeat center;
         display: block;
         width: 60px;
         height: 12px;
         margin-left: 0;
         margin-right: auto;
         clear: both;
         top: 223px;
   }
   
}
   @media (max-width:471px) {
      .button{
         display: none;
         margin-left: 0;
      }
      .shop-1{
         display: block;
         margin-left: 0;
       
        
      }
      .desgin-title h2 {
         margin-bottom: 40px;
     }
     
   }
   @media (max-width:320px) {
      .best-title h2::before {
         content: "";
         position: relative;
         background: url(../../assets/imges/heading_element_white.png) no-repeat center;
         display: block;
         width: 60px;
         height: 12px;
         margin-left: 0;
         margin-right: auto;
         clear: both;
         top: 270px;
   }
}
@media (max-width:700px) {
   .image-container:hover .text {
      opacity: 1;
      bottom: 67px;
  }

 
}

@media (max-width:1116px) {
   .desgin-gallery{
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:768px) {
   .desgin-gallery{
      display: grid;
      grid-template-columns: repeat(1 , 1fr);
    }
}