*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Tomorrow';

}
.w-2{

  width: 50%;
}
::selection{
  background-color: #987d24;
}
.container{
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px
}
.align-center{
  align-items: center;
}
.justify-between{
  justify-content: space-between;
}
a{
  text-decoration: none;
  display: inline-block;
}
ul{
  list-style:none;
  
  
}
.d-none{
  display: none;
}
.text-center{
  text-align: center;
}
.d-flex{
  display: flex;
}
.row{
  flex-wrap: wrap;
  display: flex;
}


/* HEADER */
ul.support-lists {
  position: fixed;
  top: 70%;
  right: 50px;
  list-style: none;
  /* width:60px; */
  background: #fff;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, .16);
  border-radius: 30px;
  text-align: center;
 padding: 20px;
  z-index: 2;
  color: #181818;
  list-style:none;
}
ul .ri-chat-unread-fill , .ri-phone-fill ,.ri-mail-unread-fill{
   color: #181818;
   font-size: 20px;
   font-weight: 200;
}
.support-lists li{
  margin: 20px 0;
}

header{
  background-color: #202020;
  padding: 10px 0;
  position: sticky;
  width: 100%;
  top:0;
  left:0;
  z-index: 999;
}

.navigation li a{
  color: aliceblue;
  font-weight: 300;
  padding:0 17px;
  transition: 0.3s all ease-in-out;
  
}
.navigation ul{
  list-style:none;
}
.navigation .icons a{
  color: aliceblue;
  font-weight: 700;
  padding:0 17px;
  font-size: 17px;
  transition: 0.3s all ease-in-out;
}
.navigation li a:hover{
  color:#956b3a;
  transition: 0.3s all ease-in-out;
}
.navigation li:first-child a{
  color:#956b3a;
  font-weight: 700;
 
}
.navigation a:not(:last-child):hover {
  color:#956b3a;
  font-weight: 700;
}

.button {
  color: white;
  border: none;
  border: 2px solid #987d24;
  padding: 10px 20px;
  transition:  all 0.4s ease-in-out;
  display: inline-block;
  border-radius: 10px;
  margin-left: 20px;

}

.button:hover {
  background: linear-gradient(45deg, #D4AF37, #8B5E3C, #D4AF37);
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.8);
  transition: all 0.4s ease-in-out;
}
.cart{
  position: relative;
  
}
.lakit-cart__count{
position: absolute;
bottom: 60%;
left: 50%;
text-align: center;
color: var(--theme-primary-color);
font-size: 11px;
width: 18px;
font-weight: 300;
height: 18px;
align-items: center;
display: flex;
justify-content: center;
border-radius: 20px;
text-align: center;
background-color: #8B5E3C;
}


/* BANEER */

.banner{
  background-image: url(../../assets/imges/akali-banner.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 100%;

  z-index: -1;
  display: flex;
    min-height: 860px;

}
.banner-content{
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2 , 1fr);
    gap: 30px;
}
.banner-content h1{
  font-size: 85px;
  color: white;
  max-width: 600px;
 
}
.richtext{
  color: rgb(161, 154, 154);
  max-width: 600px;
  line-height: 30px;
  letter-spacing: 2px;
  padding: 10px 0;
}
.shop{
  display: flex;
  justify-content: flex-end;
}
.btn{
  color:aliceblue;
  width: 250px;
  height: 250px;
  border: 2px solid  rgb(161, 154, 154);;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  transition: 0.3s all ease-in-out;

}
.btn:hover{
  transform: scale(0.9);
  transition: 0.3s all ease-in-out;
}
.banner-inner {
  margin-top: 90px;
  display:flex;
  justify-content: space-between;
}
.banner-inner  ul li {
  border-top: 2px solid aliceblue;
  padding-top: 20px;
 

}
.banner-inner li a{
  color: aliceblue; 
  padding:0 20px;

}
.banner-inner i {
  margin-right: 15px;
}
.rich{
  color: aliceblue;
  font-weight:200;
  padding-left: 90px;

}



/* BOTH */


.both{
  background-color: #4f3f32;
  padding: 40px 0;
}
.both-title h2{
   color: aliceblue;
   font-size: 55px;
   font-weight: 400;
   text-align: center;
   max-width: 900px;
   margin: auto;
   line-height: 90px;
}



.gallery{
  background-color: #202020;
  padding: 80px 0;
}
.gallery-inner{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  gap: 60px;
}
.gallery-items{
  position:relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  
}

.image-container:hover .overlay {
  opacity: 1;
}

.image-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.image-container img {
  width: 100%;
  transition: transform 0.5s ease;
}

.image-container:hover img {
  transform: scale(1.1);
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.image-container:hover .overlay {
  opacity: 1;
}

.text {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  opacity: 0;
  transition: opacity 0.5s ease, bottom 0.5s ease;
}

.image-container:hover .text {
  opacity: 1;
  bottom: 30px;
}

.border {
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(90% - 20px);
  border: 2px solid white;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.image-container:hover .border {
  opacity: 1;
}


/* DESGIN */

.desgin{
  background-color: #202020;
  padding: 70px 0;
}
.desgin-title h2{
   font-size: 30px;
   font-weight: 600;
   color:aliceblue;

}
.desgin-gallery{
  display: grid;
  grid-template-columns: repeat(3,2fr);
  gap:20px;
}
.box{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #D4AF37;
}
.box-1{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(205, 203, 203);
}
.desgin-items{
  /* width: 350px; */
  overflow: hidden;
  position: relative;
  width: 100%;
}







.desgin-items img {
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease;
  margin-top: 70px;
}

.desgin-items .hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity:0;
  width: 100%;
  height: 100%;
}

.desgin-items:hover .hover-img {
  opacity: 1;
  z-index: 9;
}

.content-desgin{
  color: aliceblue;
}

.content-desgin h4{
  font-weight: 400;
  font-size: 20px;
  padding: 20px 0;
  transition: 0.4s all ease-in-out;
}
.content-desgin h4:hover , .content-desgin span:hover{
 color: #956b3a;
 transition: 0.4s all ease-in-out;
}




